*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(78, 75, 75);
}
main{
    background-image: url("assets/images/background.jpg");
    height: 80vh;
}
main .bg{
    height: 80vh;
    width:100vw;
    filter: opacity(-0.6);
    background-size: max(1200px, 100vw);
    background-color: rgba(0, 0, 0, 0.229);
}
main img{
margin:22px 120px;
padding: 0px 40px;
width:160px;

}
.op{
margin:24px 120px;
padding: 0px 40px;
float: right;
display: flex;
gap: 20px;
}
.opp button{
    margin:25px 0px;
    padding:0px 0px;
    float: right;
    border: 2px solid  rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    filter: invert(1);
    display: flex;
    gap:0px;
}
.opr select{
margin:23px -162px;
padding: 0px 40px;
float: right;
background-color: rgba(0, 0, 0, 0);
color: rgb(255, 255, 255);
padding: 6px 50px;
border-radius: 5px;
font-size: medium;
text-align: center;00000000
}
button{
background-color: rgb(252, 0, 0);
color: rgb(255, 255, 255); 
padding: 6px 10px;
border-radius: 5px;
font-size: medium;
font-weight: bolder;
}
.mid{
padding:200px;
text-align: center;
color: rgb(255, 255, 255);
position: relative;
gap: 24px;
}
.bar{
margin: 0px;
padding: 0px;
height:144px;
background-color: rgba(0, 0, 0, 0);
}
input{
height: 40px;
width:320px;
background-color: rgba(0, 0, 0, 0.188);
font-size: medium;
font-weight: 600;
color: rgb(255, 255, 255);
position: relative;
gap: 80px;
}
.box{
height: 60vh;
width:100vw;
background-size: max(1200px, 100vw);
background-color:black;
margin:10px 0px;
}
.tv{
padding: 54px 64px;
float: right;
}
.tv img{
height: 45vh;
width:29vw;
position: relative;
z-index: 10;
}
.tv video{
position:absolute;
right: 110px;
top: 729px;
height:176px;
}
.write{
color: rgb(255, 255, 255);
position: relative;
padding: 34px 144px;
top:100px;
}
.write  h1{
font-size: 4vw;
margin: 22px 0px;
}
.write p{
font-size: 2vw;
font-weight: 100;
}

.box1{
height: 60vh;
width:100vw;
background-size: max(1200px, 100vw);
background-color:black;
margin:10px 0px;
}
.mobile{
position: relative;
padding: 44px 24px;
float: left;
}
.wr{
color: rgb(255, 255, 255);
position: absolute;
padding: 120px 44px;
float: right; 
}
.wr  h1{
font-size: 4vw;
margin: 22px 0px;
top:0;
float: right;
}
.wr p{
font-size: 2vw;
font-weight: 100;
float: right;
}
.box2{
height: 60vh;
width:100vw;
background-size: max(1200px, 100vw);
background-color:black;
margin:10px 0px;
}
.tv1{
padding: 54px 64px;
float: right;
}
.tv1 img{
height: 45vh;
width:30vw;
position: relative; 
z-index: 10;
}
.tv1 video{
position: absolute;
right: 140px;
top: 1610px;
height:150px;
}
.wrt{
color: rgb(255, 255, 255);
position: relative;
padding: 34px 144px;
top:100px;
}
.wrt  h1{
font-size: 4vw;
margin: 22px 0px;
}
.wrt p{
font-size: 2vw;
font-weight: 100;
}
.box3{
height: 60vh;
width:100vw;
background-size: max(1200px, 100vw);
background-color:black;
margin:10px 0px;
}
.child{
position: relative;
padding: 44px 44px;
float: left;
}
.do{
height:45vh;
width:55vw;
display:flex;
justify-content:center;
gap:20px;
padding:60px 44px;
flex-direction: column;
}
.wrr{
height:8vh;
width:34vw;
padding:0px 170px;
}
.wrr p{
color: rgb(255, 255, 255);
text-align: center;
font-size: 50px;
font-weight: 800;
}
.wrr1{
height:15vh;
width:34vw;
display:flex;
padding:0px 170px;
}
.wrr1 p{
color: rgb(255, 255, 255);
text-align: center;
font-size: 24px;
font-weight: 300;
}
.faq{
height: 80vh;
width:100vw;
background-size: max(1200px, 100vw);
background-color:black;
margin:10px 0px;
}
/* .faq :hover{
background-color:black;
} */
.F{
margin:12px auto;
padding:2px;
height:8vh;
width:84vw;
display:flex;
justify-content: space-between;
color: rgb(255, 255, 255);
font-size: x-large;
background-color: rgb(108, 108, 108);
cursor: pointer;
transition: all 1s cubic-bezier(0.23, 0.85, 0.27, 0.72);
}
.F svg {
  filter: invert(1);
}
.head h1{
padding: 12px 20px;
text-align: center;
font-size: 50px;
font-weight: 900;
}
.foot{
height: 60vh;
width:100vw;
background-size: max(1200px, 100vw);
background-color:black;
margin:20px 0px;
padding:20px 0px;
}
.ft a{
margin:auto;
color:rgb(255, 255, 255);
}
.ft{
margin:auto;
}
.fit{
margin:40px 20px;
display: grid;
justify-content: center;
grid-template-columns: 300px 400px 400px 300px;
grid-template-rows: 50px 50px 50px 50px;
}
.h{
color: rgb(255, 255, 255);
padding:29px 84px;
/* text-align: center; */
}
.op1{
margin:24px 120px;
padding: 0px 40px;
display: flex;
}
.hh{
color: rgb(255, 255, 255);
padding:0px 154px;
}